{% extends "exchange\base.html" %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
            <strong>{{message}}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <h3>List of downloaded exchange rates</h3>
    <form method="POST">
        {% csrf_token %}
        <button  type="submit" class="btn btn-primary" name="refresh_button">Refresh</button>
    </form>
    {% for rate in rates_list %}
        <li>{{ rate.currency }}</li>
    {% endfor %}
{% endblock %}